#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    float: left;
    width: 20%;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.nav{
border-bottom: 1px solid;
   
}

.nav__toggle{
position: absolute;
cursor:pointer;
margin:0rem 1rem;
right:0;
}

.svg{
width:1.5rem;

}

.close{
display:none;
}

.menu{
margin-top:0.2rem;    
}

.nav__checkbox{
    display: none;
    }
    
.nav__menu{
        display:flex;
        flex-direction: column;
        gap:2rem;
        align-items: center;
        margin: 1rem;
        }
        
li{
        
        list-style: none;
        display:none;
        
        }
        
.firstchild{
        margin-right:auto;
        display:block;
        }

a{
text-decoration: none;
color: iniherit;
font-size:1.2rem;
}


#nav__checkbox:checked ~ ul.nav__menu li{
display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close{
    display:block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu{
    display:none;
}

